.square-shape-child {
  width: 240px;
  height: 944px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.overview {
  margin: 0;
  height: 21px;
  width: 73px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.rectangle-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-sm) var(--padding-6xs);

}
.profile {
  margin: 0;
  height: 21px;
  width: 49px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.rectangle-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) var(--padding-6xs);
}
.appointments {
  margin: 0;
  height: 21px;
  width: 110px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.rectangle-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) var(--padding-6xs);
}
.history {
  margin: 0;
  height: 21px;
  width: 55px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.rectangle-frame3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-sm);

}
.videos {
  margin: 0;
  width: 41px;
  height: 21px;
  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}

.videos-library {
  margin: 0;
  width: 84px;
  height: 21px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.rectangle-frame4,
.videos-parent {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);

}
.videos-parent {
  flex-direction: column;
  gap: 14px 0;
}
.rectangle-frame4 {
  width: 188px;
  display: flex;

  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) var(--padding-4xs);

  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.support {

  margin: 0;
  height: 21px;
  width: 62px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.faqs {

  margin: 0;
  width: 34px;
  height: 21px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.rectangle-frame6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
}
.faqs,
.procedure-information {
  margin: 0;
  width: 133px;
  height: 21px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.faqs-parent,
.rectangle-frame7 {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-16xl) var(--padding-4xs) var(--padding-xl);

  font-size: var(--font-size-sm);
}
.aftercare {
  margin: 0;
  height: 21px;
  width: 69px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.rectangle-frame8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
}
.health-skin,
.quizzes {
  margin: 0;
  width: 48px;
  height: 21px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.health-skin {
  margin: 0;
  width: 148px;
  height: 21px;
  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}

.rectangle-frame9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) var(--padding-4xs);
  gap: var(--gap-sm);

  font-size: var(--font-size-sm);
}
.finances {
  margin: 0;
  height: 21px;
  width: 67px;

  position: relative;
  font-size: inherit;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;

  z-index: 1;
}
.line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-sm);

}
.frame-child14 {
  height: 48px;
  width: 212px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-floralwhite);
  display: none;
}
.virtual-consultation {
  height: 21px;
  width: 150px;

  position: relative;
  font-size: var(--font-size-lg);
  line-height: 21px;
  font-family: var(--font-cabin);
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;

  z-index: 2;
}
.frame-button,
.square-shape,
.text {
  display: flex;
  justify-content: flex-start;
}
.frame-button {
  cursor: pointer;
  border: none;

  padding: var(--padding-sm) var(--padding-29xl) var(--padding-smi)
    var(--padding-sm);
  background-color: var(--color-floralwhite);
  border-radius: var(--br-sm);
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  white-space: nowrap;
  z-index: 1;
}
.frame-button:hover {
  background-color: var(--color-gainsboro);
}
.square-shape,
.text {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);

}
.square-shape {
  width: 240px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;

  padding: var(--padding-28xl) var(--padding-sm) var(--padding-138xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);

  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
  font-family: var(--font-cabin);
}


@media screen and (max-width: 950px) {
  .square-shape {
    display: none;
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-83xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .square-shape {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-47xl);
    box-sizing: border-box;
  }
}
